*{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: arima;
    color: rgb(255, 255, 255)
}
/* Header - Nav */


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    min-height: 70px;
    color: rgb(0, 0, 0);
}
.divHeader{
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}


.logoHeader{
    width: 70px;
    background-color: rgb(255,255,255);
    padding-left: 25px;
}

.h2Header{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

}
nav{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    width: 50%;
}
.aNav{
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
    padding-right: 25px;
    font-size: 17px;
    color: rgb(0, 0, 0);
}

.menuNav{
    display: none;
}

/* H1 */

.sectionH1Main{
    display: flex;
    justify-content: center;
    padding: 40px;
    margin-bottom: 50px;
    font-size: 4em;
    border-bottom: 3px dotted rgb(255, 255, 255);
    border-radius: 20%;
}

/* SECCION SOBRE MI..*/

.presentancionMain{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}

.imagenMain{
    width: 700px;
    height: 350px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5%;
}

#sobreMi{
    font-size: 2em;
    display: flex;
    justify-content: center;
    margin: 40px;
}

.pSobreMi{
    margin: 20px;
    padding: 20px;
    align-self: center;
}

/* SECCION CONOCIMIENTOS */

.h2Programa{
    text-align: center;
    margin-bottom: 15px;
}

.sectionHabilidades{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    grid-auto-rows: minmax(100px, auto);
    align-items: center;
    margin: 50px;
}

#conocimientos{
    font-size: 2em;
    grid-column: 2;
    grid-row: 1;
}

.tarjetaHabilidades1{
    grid-column: 1;
    grid-row: 2;
}

.tarjetaHabilidades2{
    grid-column: 2;
    grid-row: 2;

}
.tarjetaHabilidades3{
    grid-column: 1;
    grid-row: 3;

}
.tarjetaHabilidades4{
    grid-column: 2;
    grid-row: 3;
}

.divTarjeta{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.imgTarjeta{
    width: 400px;
}

/* FOOTER */

.listafooter{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.imgFooter{
    background-color: rgb(255, 255, 255);
    width: 65px;
}

.aFooter{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#hamburguesa{
    display: none;
}
/* MEDIA QUERIES */

@media(max-width:900px){


    h1{
        font-size: 1em;
        text-align: center;
        padding: 30px;
    }

    nav{
        width: 100%;
        height: fit-content;
    }
    .aNav{
        display: none;
        width: 100%;
        padding: 20px;
        justify-content: end;

    }

    .menuNav{
        display: block;
        background-color: rgb(255, 255, 255);
    }

    #hamburguesa:checked+.aNav{
        display: flex;
    }
    #hamburguesa:checked+.aNav+.aNav{
        display: flex;
    }

    #hamburguesa:checked+.aNav+.aNav+.aNav{
        display: flex;
    }

    .pSobreMi{
        font-size: 1.5em;
    }

    .presentancionMain{
        flex-direction: column;
    }

    .imagenMain{
        width: 450px;
        height: 350px;
        border-radius: 5%;
    }

    .sectionHabilidades{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .imgTarjeta{
        width: 300px;
    }

    .pTarjetas{
        font-size: 1.5em;
    }

    .imgFooter{
        width: 50px;
        justify-content: space-around;
    }

}

@media(max-width:500px){


    h1{
        font-size: 1em;
    }

    .pSobreMi{
        font-size: 20px;
    }

    .imagenMain{
        width: 300px;
        height: 200px;
        border-radius: 5%;
    }
    .sectionHabilidades{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }



    .imgTarjeta{
        width: 100%;
    }

    .pTarjetas{
        font-size: 20px;
        width: 100%;
        text-align: center;
    }

    .imgFooter{
        width: 40px;
        justify-content: space-around;
    }



}